import { test, expect } from '@playwright/test'

test.describe('{{EntityNamePlural}} Page', () => {
  test('should display {{entityNamePlural}} page', async ({ page }) => {
    await page.goto('/{{entityNamePlural}}')
    await expect(page.locator('h1')).toContainText('{{EntityNamePlural}}')
  })

  test('should show add {{entityName}} button', async ({ page }) => {
    await page.goto('/{{entityNamePlural}}')
    const addButton = page.getByRole('button', { name: /add {{entityName}}/i })
    await expect(addButton).toBeVisible()
  })

  test('should show {{entityName}} form when add button is clicked', async ({ page }) => {
    await page.goto('/{{entityNamePlural}}')

    const addButton = page.getByRole('button', { name: /add {{entityName}}/i })
    await addButton.click()

    await expect(page.getByLabelText(/name/i)).toBeVisible()
  })
})
