from sqlalchemy.orm import Session
from typing import List, Optional
from app.models.{{entity_name}} import {{EntityName}}
from app.schemas.{{entity_name}} import {{EntityName}}Create, {{EntityName}}Update


def get_{{entity_name}}(db: Session, {{entity_name}}_id: int) -> Optional[{{EntityName}}]:
    """Get a {{entity_name}} by ID"""
    return db.query({{EntityName}}).filter({{EntityName}}.id == {{entity_name}}_id).first()


def get_{{entity_name_plural}}(db: Session, skip: int = 0, limit: int = 100) -> List[{{EntityName}}]:
    """Get multiple {{entity_name_plural}} with pagination"""
    return db.query({{EntityName}}).offset(skip).limit(limit).all()


def create_{{entity_name}}(db: Session, {{entity_name}}_in: {{EntityName}}Create) -> {{EntityName}}:
    """Create a new {{entity_name}}"""
    db_{{entity_name}} = {{EntityName}}(**{{entity_name}}_in.model_dump())
    db.add(db_{{entity_name}})
    db.commit()
    db.refresh(db_{{entity_name}})
    return db_{{entity_name}}


def update_{{entity_name}}(db: Session, {{entity_name}}: {{EntityName}}, {{entity_name}}_in: {{EntityName}}Update) -> {{EntityName}}:
    """Update an existing {{entity_name}}"""
    update_data = {{entity_name}}_in.model_dump(exclude_unset=True)

    for field, value in update_data.items():
        setattr({{entity_name}}, field, value)

    db.add({{entity_name}})
    db.commit()
    db.refresh({{entity_name}})
    return {{entity_name}}


def delete_{{entity_name}}(db: Session, {{entity_name}}_id: int) -> Optional[{{EntityName}}]:
    """Delete a {{entity_name}}"""
    {{entity_name}} = get_{{entity_name}}(db, {{entity_name}}_id={{entity_name}}_id)
    if {{entity_name}}:
        db.delete({{entity_name}})
        db.commit()
    return {{entity_name}}
