using System.Net;
using System.Net.Http.Json;
using FluentAssertions;
using Xunit;

namespace {{Namespace}}.Tests.Integration.Endpoints;

public class {{Feature}}EndpointsTests : IClassFixture<ApiFactory>
{
    private readonly HttpClient _client;

    public {{Feature}}EndpointsTests(ApiFactory factory)
    {
        _client = factory.CreateClient();
    }

    [Fact]
    public async Task Get{{Feature}}ById_WhenExists_ReturnsOk()
    {
        // Arrange
        var id = 1;

        // Act
        var response = await _client.GetAsync($"/api/{{RoutePrefix}}/{id}");

        // Assert
        response.StatusCode.Should().Be(HttpStatusCode.OK);

        var {{VariableName}} = await response.Content.ReadFromJsonAsync<{{Feature}}Response>();
        {{VariableName}}.Should().NotBeNull();
        {{VariableName}}!.Id.Should().Be(id);
    }

    [Fact]
    public async Task Get{{Feature}}ById_WhenNotFound_ReturnsNotFound()
    {
        // Arrange
        var id = 999;

        // Act
        var response = await _client.GetAsync($"/api/{{RoutePrefix}}/{id}");

        // Assert
        response.StatusCode.Should().Be(HttpStatusCode.NotFound);
    }

    [Fact]
    public async Task Create{{Feature}}_WithValidData_ReturnsCreated()
    {
        // Arrange
        var request = new Create{{Feature}}Request
        {
            // Set properties
        };

        // Act
        var response = await _client.PostAsJsonAsync("/api/{{RoutePrefix}}", request);

        // Assert
        response.StatusCode.Should().Be(HttpStatusCode.Created);

        var {{VariableName}} = await response.Content.ReadFromJsonAsync<{{Feature}}Response>();
        {{VariableName}}.Should().NotBeNull();
    }

    [Fact]
    public async Task Create{{Feature}}_WithInvalidData_ReturnsBadRequest()
    {
        // Arrange
        var request = new Create{{Feature}}Request
        {
            // Set invalid properties
        };

        // Act
        var response = await _client.PostAsJsonAsync("/api/{{RoutePrefix}}", request);

        // Assert
        response.StatusCode.Should().Be(HttpStatusCode.BadRequest);
    }

    [Fact]
    public async Task Update{{Feature}}_WhenExists_ReturnsOk()
    {
        // Arrange
        var id = 1;
        var request = new Update{{Feature}}Request
        {
            // Set properties
        };

        // Act
        var response = await _client.PutAsJsonAsync($"/api/{{RoutePrefix}}/{id}", request);

        // Assert
        response.StatusCode.Should().Be(HttpStatusCode.OK);

        var {{VariableName}} = await response.Content.ReadFromJsonAsync<{{Feature}}Response>();
        {{VariableName}}.Should().NotBeNull();
    }

    [Fact]
    public async Task Delete{{Feature}}_WhenExists_ReturnsNoContent()
    {
        // Arrange
        var id = 1;

        // Act
        var response = await _client.DeleteAsync($"/api/{{RoutePrefix}}/{id}");

        // Assert
        response.StatusCode.Should().Be(HttpStatusCode.NoContent);
    }
}
